.card{
    border: 1px solid #ddd;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    margin-bottom: .5em;
    .note-text{
        text-wrap: balance;
        word-break: break-all;
        font-size: 1em;
    }
    .rm-icon{
        width: 25px;
        cursor: pointer;
        background-color: #000000;
        color: #fff;
        padding: 2px;
        text-align: center;
        span{
            font-size: 1.2em;
            font-weight: 700;
            position: relative;
            top: -2px;
            width: 100%;

        }
    }
}